<!-- views/partials/navbar.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Meu Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/objetivo">Objetivo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/desenvolvimento">Desenvolvimento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/conclusao">Conclusão</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
